[Unit]
Description=AM2302 temp & humidity Sensor Service
After=network.target

[Service]
WorkingDirectory=/opt/linear-actuator
ExecStart=/usr/bin/python3 /opt/linear-actuator/python/am2302SvcProxy.py
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
